.products_container{
     display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 15px; /* spacing between items */
  padding: 15px;

    
    max-width: 1000px;
    margin: 100px auto;
   row-gap: 50px;
    justify-content: center;
    align-items: center;

}

    